body {
    margin: 0 auto;
    font-family: var(--paragraph-font);
    padding: 0;
    max-width: 960px;
  }
  

  
  .hero {
    position: relative;
  }
  
  .hero img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 500px;
    /* opacity: ; */
  }
  
  .hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    z-index: 100;
    text-align: center;
    font-size: 3rem;
    color: var(--accent2-color);
    text-shadow: -5px 5px 0px var(--secondary-color);
  }
  
  .hero article {
    position: absolute;
    bottom: 30%;
    margin: 0px 30px;
    padding: 20px;
  }
  
  .hero article p {
    font-size: 1.3rem;
  }
  

  