/* Banner */
#banner-home {
  background-color: var(--secondary-color);
  width: 100%;
}

#banner-home .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}

#banner-home .img-wrapper {
  flex: 55%;
  max-width: 55%;
  box-sizing: border-box;
  position: relative;
}

#banner-home .text-wrapper {
  flex: 45%;
  max-width: 45%;
  padding: 0px 20px;
  padding-bottom: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#banner-home h1,
#banner-home p,
#banner-home a {
  display: block;
  text-align: center;
}

#banner-home h1 {
  font-size: 2.5rem;
  margin: 10px 0;
  color: var(--primary-color);
}

#banner-home p {
  font-size: 1.5rem;
  color: var(--primary-color);
}

#banner-home a {
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--primary-color);
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 1.5rem;
  font-weight: 400;
}

#banner-home .img-wrapper .shapes {
  position: absolute;
  z-index: 100;
  width: 25%;
  height: auto;
}

#banner-home .img-wrapper .shape1 {
  bottom: 0;
  left: -5%;
  transform: rotate(45deg);
}

#banner-home .img-wrapper .shape2 {
  top: 0;
  right: -5%;
  transform: rotate(225deg);
}

#banner-home .img-banner {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 7%;
}

#banner-home .img-banner img {
  width: 100%;
  height: auto;
  border-radius: 5%;
}

/* Services */
#services {
  background-color: var(--primary-color);
  width: 100%;
}

#services .container {
  box-sizing: border-box;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  color: var(--white-color);
}

#services h2::before {
  content: "\2022";
  margin-right: 5px;
  font-size: 3rem;
}

#services h2 {
  font-size: 3rem;
  margin: 10px;
  text-align: left;
}

#services .container p {
  font-size: 1.5rem;
}

#services .container p {
  margin-bottom: 50px;
}

#services .service-card p {
  margin-top: 20%;
  font-weight: 700;
  font-size: 1.3rem;
  text-align: center;
}

#services .services-wrapper {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-around;
}

#services .service-card {
  flex-grow: 3;
  padding: 20px;
  box-sizing: border-box;
}

#services .img-card {
  position: relative;
  justify-content: center;
  display: flex;
}

#services .img-card .main {
  display: block;
  border-radius: 5%;
  width: auto;
  height: 200px;
}

#services .img-card .shapes {
  display: block;
  position: absolute;
  bottom: -20%;
  left: calc(50% - 30px);
  width: 60px;
  height: auto;
}

#services a {
  margin-bottom: -20px !important;
  text-decoration: none;
  background-color: var(--accent2-color);
  color: var(--primary-color);
  margin: 0 auto;
  padding: 10px 60px;
  font-weight: 600;
  border-radius: 50px;
  display: block;
  font-size: 1.5rem;
  font-weight: 400;
}
/* IMAGINE */

#imagine {
  width: 100%;
  margin-top: 120px;
  margin-bottom: 120px;
}

#imagine .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 5%;
  gap: 30px;
}

#imagine .img-wrapper {
  flex: 30%;
  max-width: 30%;
  position: relative;
}

#imagine .text-wrapper {
  flex: 70%;
  max-width: 70%;
}

#imagine .img-wrapper .main {
  display: block;
  width: 85%;
  height: auto;
  border-radius: 5%;
  margin: 0 auto;
}

#imagine .img-wrapper .shape {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
  top: -50%;
  left: -25%;
}

#imagine h2::before {
  content: "\2022";
  margin-right: 5px;
  font-size: 6rem;
  color: var(--secondary-color);
}

#imagine h2 {
  display: flex;
  align-items: center;
  font-size: 3rem;
  margin: 0;
  margin-top: 30px;
  text-transform: uppercase;
  color: var(--accent1-color);
  line-height: 30px;
}

#imagine p {
  color: var(--primary-color);
  font-size: 1.5rem;
}

#imagine .cta-wrapper {
  display: flex;
  justify-content: end;
}

#imagine a {
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--accent1-color);
  padding: 10px 60px;
  font-weight: 600;
  border-radius: 50px;
  display: block;
  font-size: 1.5rem;
  font-weight: 400;
}

@media only screen and (max-width: 900px) {
  #banner-home .img-wrapper,
  #banner-home .text-wrapper,
  #imagine .img-wrapper,
  #imagine .text-wrapper {
    flex: 100%;
    max-width: 100%;
  }
  #services .services-wrapper {
    flex-wrap: wrap;
  }

  #services .service-card {
    padding: 10px 15%;
  }

  #imagine .container {
    padding: 5%;
    margin-top: 60px;
    flex-wrap: wrap;
  }

  #imagine .img-wrapper .main {
    width: 70%;
  }

  #imagine .img-wrapper .shape {
    bottom: -25%;
    width: 65%;
    left: initial;
    top: initial;
  }

  p {
    padding: 0 15px;
  }
}
